.services{
    background-image: url('../../../../public/images/body-services/2149307578.webp');
    background-position: 100% -30%;
    background-repeat: no-repeat;
    background-size:cover !important;
    background-attachment: fixed;
    margin-top: 90px;
    background-color: rgb(104,104,104);
    background-blend-mode: multiply;
}
@media (max-width: 640px) {
    .services {
        background-position: center;
        background-size: contain; 
        background-attachment: scroll; 
    }
}